body {
    background-color: powderblue;
}
h1 {
    color: blue;
    text-align: center;
}
p {
    color: red;
    margin-left: 5%;

}

#title {
    text-align: center;
}

#recipe {
    font-size: 14pt;
    height: 42px;
    width: 400px;
}

table, td {
    border: 1px solid black;
}

#more_fields {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: crosshair;
}

#submit {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}