body {
    background-color: powderblue;
}
h1 {
    color: blue;
    text-align: center;
}
p {
    color: red;
    margin-left: 5%;

}

#title {
    text-align: center;
}

#recipeInput {
    text-align: center;
    font-size: 14pt;
    width: 400px;
}

#locationInput {
    font-size: 12pt;
    width: 600px;
}

input {
    font-size: 12pt;
}

table, td {
    border: 1px solid black;
    margin: 40px 25px 40px 25px;
}

th {
    padding-left: 10px;
    padding-right: 10px;
}

#ingredientInput {
    width: 400px;
}

#qtyInput {
    width: 100px;
}

#measureInput {
    width: 150px;
}

#more_fields {
    background-color: green;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 40px 0 25px 25px;
    cursor: pointer;
}

#submit {
    background-color: red;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: left;
    margin: 40px 25px 25px 40px;
    cursor: pointer;
}